@{
    ViewBag.Title = "About";
}


<link href="~/Content/AboutPageStyle.css" rel="stylesheet" media="screen" runat="server" />
<link href="~/Content/agency.css" rel="stylesheet" media="screen" runat="server" />
<link href="~/Content/bootstrap.css" rel="stylesheet" media="screen" runat="server" />




<div class="row row-header">
    <div class="col-md-12">
        <div class="header">
            <div class="overlay">
                <div class="container table">

                    <div class="intro text-center">
                        <div id="home-heading" class="animated zoomIn">
                            <i class="fa fa-star fa-spin"></i>
                            <i class="fa fa-star fa-spin"></i>
                            <i class="fa fa-star fa-spin"></i>
                            <i class="fa fa-star fa-spin"></i>
                            <i class="fa fa-star fa-spin"></i>
                            <br>

                            <h1 style="font-size:29px;" class="upper">About <span class="main-color">Reviewza</span></h1>
                            <p style="font-size:18px;">Reviewza is a powerful Site for reviewing Organizations.Different Sectors and Categories are available.<br>You can sign-up as a Client or Organization,Compare organizations,and Claim Points for Prizes ! </p>
                        </div>


                    </div>

                    <div class="buttons text-center ">
                        <button style="width:170px;height:35px" class="upper hire" id="hire">Hire Us</button>
                        <button style="width:170px;height:35px" class="upper our-works-btn" id="features">Our Features</button>

                    </div>

                    <span class="arrow hidden-md hidden-sm hidden-xs">

                        <i class="fa fa-chevron-down"></i>
                    </span>

                </div>
            </div>

        </div>
    </div>
    <!--Start section features-->
</div>

<div class="features text-center wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
    <div class="container">
        <h3 style="font-size:32px;color:cornflowerblue;margin-top:64px;">Reviewza Features</h3>

        <div class="row">

            <div class="col-lg-offset-1 col-md-2 col-md-offset-1 ">
                <div class="box">
                    <i class="fa fa-clone fa-spin fa-3x"></i>
                    <h3>Comparison</h3>
                    <p>Now you can easily launch a comparison between any two organizations to make it easy for you to take your Decision.Also Reviewza helps you to take your Decision!</p>


                </div>
            </div>

            <div class="col-md-2 col-sm-12  col-xs-12">
                <div class="box">
                    <i class="fa fa-apple-alt fa-spin fa-3x"></i>
                    <h3>Points System</h3>
                    <p>The more useful reviews you make,the more points you can achieve to achieve your prizes.</p>


                </div>
            </div>
            <div class="col-md-2 col-xs-12">

                <div class="box">
                    <i class="fa fa-search fa-spin fa-3x"></i>
                    <h3>Powerful Search</h3>
                    <p>Reviewza has a very powerful Search engine that can allows you to search very quickly about your desired Organization easily.</p>

                </div>
            </div>

            <div class="col-md-2 col-xs-12">
                <div class="box">
                    <i class="fa fa-chart-line fa-spin fa-3x"></i>
                    <h3>Data Analytics</h3>
                    <p>Now Every Subscribed Organization has a very Detailed Data Analytics about its progress in Reviewza.</p>


                </div>

            </div>
            <div class="col-md-2 col-xs-12">
                <div class="box">
                    <i class="fa fa-filter fa-spin fa-3x"></i>
                    <h3>Filteration System </h3>
                    <p>You can not only search between the organizations, but you can filter your search results to easily get your desired results.</p>


                </div>
            </div>

        </div>

    </div>


</div>

<!--End section features-->
<div class="clearfix"></div>

<!--section team-->
<div class="team text-center" style="padding-bottom:30px;">
    <div class="container">

        <h3 class="upper" style="font-size:32px;color:#333;margin-top:60px;">Meet Our<span class="main-color"> Team Now</span></h3>
        <div class="row">

            <div class="col-md-3" style="margin-top:30px;">
                <div class="person wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                    <img src="~/Content/img/About/5.jpg" alt="" />
                    <h3>Kevin Ward</h3>
                    <p>Lead Designer</p>

                    <div class="social-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter fa-lg"></i>
                        <i class="fab fa-google-plus fa-lg"></i>
                        <i class="fab fa-linkedin fa-lg"></i>
                        <i class="fab fa-pinterest fa-lg"></i>
                    </div>

                </div>
            </div>


            <div class="col-md-3" style="margin-top:30px;">
                <div class="person wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.3s">
                    <img src="~/Content/img/About/7.jpg" alt="" />
                    <h3>Harvy Ruby</h3>
                    <p>Full-Stack Developer</p>
                    <div class="social-icons">
                        <i class="fab fa-facebook fa-lg"></i>
                        <i class="fab fa-twitter fa-lg"></i>
                        <i class="fab fa-google-plus fa-lg"></i>
                        <i class="fab fa-linkedin fa-lg"></i>
                        <i class="fab fa-pinterest fa-lg"></i>
                    </div>

                </div>
            </div>

            <div class="col-md-3" style="margin-top:30px;">
                <div class="person wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                    <img src="~/Content/img/About/6.jpg" alt="" />
                    <h3>John Smith</h3>
                    <p>Lead Designer</p>
                    <div class="social-icons">
                        <i class="fab fa-facebook fa-lg"></i>
                        <i class="fab fa-twitter fa-lg"></i>
                        <i class="fab fa-google-plus fa-lg"></i>
                        <i class="fab fa-linkedin fa-lg"></i>
                        <i class="fab fa-pinterest fa-lg"></i>
                    </div>

                </div>
            </div>


            <div class="col-md-3" style="margin-top:30px;">
                <div class="person wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.3s">
                    <img src="~/Content/img/About/5.jpg" alt="" />
                    <h3>Tony Smith</h3>
                    <p>Full-Stack Developer</p>
                    <div class="social-icons">
                        <i class="fab fa-facebook fa-lg"></i>
                        <i class="fab fa-twitter fa-lg"></i>
                        <i class="fab fa-google-plus fa-lg"></i>
                        <i class="fab fa-linkedin fa-lg"></i>
                        <i class="fab fa-pinterest fa-lg"></i>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>






<!--section team-->
<!-- About -->
<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase" style="font-size:32px;font-weight:bold;color:cornflowerblue">Reviewza Story</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline" style="margin-top:50px;">
                    <li>
                        <div class="timeline-image wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
                            <img class="img-circle img-responsive" src="~/Content/img/About/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July-2018</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Reviewza infrastructure is begun.Plannig the project,Writing the requirements.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image  wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.3s">
                            <img class="img-circle img-responsive" src="~/Content/img/About/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August-2018</h4>
                                <h4 class="subheading">Reviewza Design is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We began designing phases including Logical Design,Conceptual Design and Physical Design.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
                            <img class="img-circle img-responsive" src="~/Content/img/About/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>November-2018</h4>
                                <h4 class="subheading">Transition to Implementation Phase</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We bagan our journey in implemeting the system to be the best reviewing system with high user interactivity.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.3s">
                            <img class="img-circle img-responsive" src="~/Content/img/About/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>June-2019</h4>
                                <h4 class="subheading">Site is Revelead</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">And in the last step in our journey,we began testing the system and deploying it to be available to our Clients and Organizaions.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
                            <h4>
                                Be Part
                                <br>Of Our
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="contact-left">
                    <h3>Reviewing club</h3>
                    <p>We believe in <strong>Simple</strong>, <strong>Clean</strong> & <strong>Modern</strong> Design Standards with Responsive Approach. Browse the amazing work of our company.</p>


                    <div id="contact-info">

                        <address>
                            <strong>Headquarters:</strong><br>
                            <p>
                                221 Jockey Hollow, Suite 600<br>
                                Smithtown, NY 11787
                            </p>
                        </address>
                        <div id="phone-fax-email">
                            <p>
                                <strong>Phone:</strong><span> (91) 8974 56984 </span> <br>
                                <strong>Fax:</strong><span>  (91) 66 8754 8978  </span> <br>
                                <strong>Email:</strong><span>  info@RC.com  </span> <br>
                            </p>
                        </div>

                        <ul class="social-listx">
                            <li><a href="#" class="social-iconx icon-white"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="social-iconx icon-white"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="social-iconx icon-white"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="social-iconx icon-white"><i class="fa fa-google-plus-g"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="contact-right">

                    <h3>Contact Us</h3>
                    <form action="#">
                        <input type="text" name="full-name" placeholder="Full Name" class="form-control">
                        <input type="text" name="email-address" placeholder="Email Address " class="form-control">
                        <textarea row="5" name="message" placeholder="Message..." class="form-control"></textarea>

                        <div id="send-btn">
                            <a class="btn btn-lg btn-general btn-white" role="button" href="#">Send</a>
                        </div>

                    </form>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="copy-right ">Copyrights © 2017 All Rights Reserved by RC Inc.</div>
        </div>
    </div>
    <a href="#home" class="btn-fixed btn  smooth-scroll" title="home" role="button"><i class="fas fa-caret-up"></i></a>
</footer>
<script src="~/Scripts/jquery.js"></script>

<script>


    function update_nav() {
        document.getElementById("loginRemove").style.display = 'none';
        document.getElementById("loginRemove2").style.display = 'none';
    }


    window.onload = update_nav;
</script>

<script>

    $(document).ready(function () {



        $(".smooth-scroll").click(function () {

            $('html,body').animate({

                scrollTop: $(".sharedNav").offset().top

            }, 1000);

        });
        $(".header .arrow ").click(function () {

            $('html,body').animate({

                scrollTop: $(".features").offset().top

            }, 1000);

        });

        $("#features").click(function () {


            $('html,body').animate({

                scrollTop: $(".features").offset().top

            }, 1000);



        });



        $("#hire").click(function () {


            $('html,body').animate({

                scrollTop: $(".team").offset().top

            }, 1000);



        });

    });



</script>


<script>

    function update_nav() {
        document.getElementById("removeToggle").style.display = 'none';

    }
    window.onload = update_nav;
</script>