
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

    <ul class="timeline">

        <li class="time-label">
            <span class="bg-red">
                10 Feb. 2014
            </span>
        </li>
        <li>
            <i class="fa fa-thumbs-up bg-blue"></i>

            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                <h3 class="timeline-header"><a href="#">Mohamed Sayed</a> Likes <a href="#">metlan_school</a>'s post</h3>
                <div class="timeline-footer">
                    <a class="btn btn-primary btn-xs">See post</a>
                </div>
            </div>
        </li>
        <li>
            <i class="fa fa-thumbs-down bg-blue"></i>

            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                <h3 class="timeline-header"><a href="#">Mohamed Sayed</a> DisLikes <a href="#">metlan_school</a>'s post</h3>
                <div class="timeline-footer">
                    <a class="btn btn-primary btn-xs">See post</a>
                </div>
            </div>
        </li>
        <li>
            <i class="fa fa-star-half-o bg-yellow"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                <h3 class="timeline-header"><a href="#">Mohamed Sayed</a> reviewd <a href="#">metlan_school</a></h3>
                <div class="timeline-footer">
                    <a class="btn btn-warning btn-flat btn-xs">see review</a>
                </div>
            </div>
        </li>

        <li class="time-label">
            <span class="bg-green">
                3 Jan. 2014
            </span>
        </li>
        <li>
            <i class="fa fa-flag-o bg-red"></i>

            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                <h3 class="timeline-header"><a href="#">Mohamed Sayed</a> report <a href="#">metlan_school</a></h3>
            </div>
        </li>
        <li>
            <i class="fa fa-bell-o bg-green"></i>

            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                <h3 class="timeline-header"><a href="#">Mohamed Sayed</a> subscribe <a href="#">metlan_school</a></h3>
            </div>
        </li>

        <!-- END timeline item -->
        <li>
            <i class="fa fa-clock-o bg-gray"></i>
        </li>
        <br/>
    </ul>
