
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


  <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Posts <span class="fa  fa-paper-plane" style="color: blue"></span></a></li>
                    <li><a href="#tab_2" data-toggle="tab">Organizations <span class="fa fa-users" style="color: blue"></span></a></li>
                    <li><a href="#tab_3" data-toggle="tab">Gifts <span class="fa fa-gift " style="color: blue"></span></a></li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Box Comment -->
                                <div class="box box-widget">
                                    <div class="box-header with-border">
                                        <div class="user-block">
                                            <img class="img-circle" src="~/Content/dist/img/user1-128x128.jpg" alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="box-tools">
                                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                                                <i class="fa fa-circle-o"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <img class="img-responsive pad" src="~/Content/dist/img/photo2.png" alt="Photo">

                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                                        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                                        <span class="pull-right text-muted">127 likes - 3 comments</span>
                                    </div>

                                </div>
                                <!-- /.box -->
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="tab_2">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-aqua-active">
                                        <h3 class="widget-user-username">Alexander Pierce</h3>
                                        <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                                    </div>
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="~/Content/dist/img/pepsi.jpg" alt="User Avatar">
                                    </div>
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">3,200</h5>
                                                    <span class="description-text">POSTS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">13,000</h5>
                                                    <span class="description-text">FOLLOWERS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4">
                                                <div class="description-block">
                                                    <h5 class="description-header">35</h5>
                                                    <span class="description-text">REVIEWERS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 border-right">
                                                <div class="description-block">
                                                    <button type="button" class="btn btn-primary">Follow</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-aqua-active">
                                        <h3 class="widget-user-username">Alexander Pierce</h3>
                                        <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                                    </div>
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="~/Content/dist/img/pepsi.jpg" alt="User Avatar">
                                    </div>
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">3,200</h5>
                                                    <span class="description-text">POSTS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">13,000</h5>
                                                    <span class="description-text">FOLLOWERS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4">
                                                <div class="description-block">
                                                    <h5 class="description-header">35</h5>
                                                    <span class="description-text">REVIEWERS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 border-right">
                                                <div class="description-block">
                                                    <button type="button" class="btn btn-primary">Follow</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-aqua-active">
                                        <h3 class="widget-user-username">Alexander Pierce</h3>
                                        <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                                    </div>
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="~/Content/dist/img/pepsi.jpg" alt="User Avatar">
                                    </div>
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">3,200</h5>
                                                    <span class="description-text">POSTS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">13,000</h5>
                                                    <span class="description-text">FOLLOWERS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4">
                                                <div class="description-block">
                                                    <h5 class="description-header">35</h5>
                                                    <span class="description-text">REVIEWERS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 border-right">
                                                <div class="description-block">
                                                    <button type="button" class="btn btn-primary">Follow</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-aqua-active">
                                        <h3 class="widget-user-username">Alexander Pierce</h3>
                                        <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                                    </div>
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="~/Content/dist/img/pepsi.jpg" alt="User Avatar">
                                    </div>
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">3,200</h5>
                                                    <span class="description-text">POSTS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">13,000</h5>
                                                    <span class="description-text">FOLLOWERS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4">
                                                <div class="description-block">
                                                    <h5 class="description-header">35</h5>
                                                    <span class="description-text">REVIEWERS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 border-right">
                                                <div class="description-block">
                                                    <button type="button" class="btn btn-primary">Follow</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="tab_3">
                        <ul class="cards">
                            <li class="cards__item">
                                <div class="card">
                                    <div class="card__image" style="background-image: url(../../Content/dist/img/amazon.jpg)"></div>
                                    <div class="card__content">
                                        <div class="card__title">
                                            <span class="pull-left bg bg-black badge"> Amazon</span> <span class="pull-right bg bg-green badge"><span class="badge bg bg-black">123</span> ponits</span>
                                        </div>
                                        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                                        <button class="btn btn--block card__btn">Get</button>
                                    </div>
                                </div>
                            </li>
                            <li class="cards__item">
                                <div class="card">
                                    <div class="card__image" style="background-image: url(../../Content/dist/img/images.jpg)"></div>
                                    <div class="card__content">
                                        <div class="card__title">
                                            <span class="pull-left bg bg-black badge"> Starbucks</span> <span class="pull-right bg bg-green badge"><span class="badge bg bg-black">123</span> ponits</span>
                                        </div>
                                        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                                        <button class="btn btn--block card__btn">Get</button>
                                    </div>
                                </div>
                            </li>
                            <li class="cards__item">
                                <div class="card">
                                    <div class="card__image" style="background-image: url(../../Content/dist/img/pepsi.jpg)"></div>
                                    <div class="card__content">
                                        <div class="card__title">
                                            <span class="pull-left bg bg-black badge"> pepsi</span> <span class="pull-right bg bg-green badge"><span class="badge bg bg-black">123</span> ponits</span>
                                        </div>
                                        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                                        <button class="btn btn--block card__btn">Get</button>
                                    </div>
                                </div>
                            </li>
                            <li class="cards__item">
                                <div class="card">
                                    <div class="card__image" style="background-image: url(../../Content/dist/img/mac.jpg)"></div>
                                    <div class="card__content">
                                        <div class="card__title">
                                            <span class="pull-left bg bg-black badge"> mcdonald's</span> <span class="pull-right bg bg-green badge"><span class="badge bg bg-black">123</span> ponits</span>
                                        </div>
                                        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                                        <button class="btn btn--block card__btn">Get</button>
                                    </div>
                                </div>
                            </li>
                            <li class="cards__item">
                                <div class="card">
                                    <div class="card__image" style="background-image: url(../../Content/dist/img/zara.jpg)"></div>
                                    <div class="card__content">
                                        <div class="card__title">
                                            <span class="pull-left bg bg-black badge"> zara</span> <span class="pull-right bg bg-green badge"><span class="badge bg bg-black">123</span> ponits</span>
                                        </div>
                                        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                                        <button class="btn btn--block card__btn">Get</button>
                                    </div>
                                </div>
                            </li>
                            <li class="cards__item">
                                <div class="card">
                                    <div class="card__image" style="background-image: url(../../Content/dist/img/pizza-hut.jpg)"></div>
                                    <div class="card__content">
                                        <div class="card__title">
                                            <span class="pull-left bg bg-black badge"> Amazon</span> <span class="pull-right bg bg-green badge"><span class="badge bg bg-black">123</span> ponits</span>
                                        </div>
                                        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                                        <button class="btn btn--block card__btn">Get</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->


    </div>
