@model RC.Models.UserType




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-atom"></i> Create New Role </h4>
                
               

            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateRole", "Admin"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="col-md-3">
                                <span>Role Name</span>
                            </div>
                            <div class="col-md-9">

                                @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                      
                    </div>

                    
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Submit Role" class="btn btn-success"/>
            </div>
                }
        </div>
    </div>
</div>